<!DOCTYPE html>
<html lang="en">
    <head>
        <title>singny- costumer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form action="/signup/done" method="post">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="email" placeholder="email">
            <input type="text" name="password" id="" placeholder="password">

        </form>
    </body>
</html>